@model NicholasHalmagyiFilip.DataModelCore.Models.DrugUnit

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>DrugUnit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DrugUnitId" />
            <div class="form-group">
                <label asp-for="DrugUnitPickNumber" class="control-label"></label>
                <input asp-for="DrugUnitPickNumber" class="form-control" />
                <span asp-validation-for="DrugUnitPickNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrugUnitDepotId" class="control-label"></label>
                <select asp-for="DrugUnitDepotId" class="form-control" asp-items="ViewBag.DrugUnitDepotId"></select>
                <span asp-validation-for="DrugUnitDepotId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrugUnitDrugTypeId" class="control-label"></label>
                <select asp-for="DrugUnitDrugTypeId" class="form-control" asp-items="ViewBag.DrugUnitDrugTypeId"></select>
                <span asp-validation-for="DrugUnitDrugTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
