@model NicholasHalmagyiFilip.DataModelCore.Models.Site

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var message = TempData["Message"] as string;
}

@if (!string.IsNullOrEmpty(message))
{
    <div class="alert alert-success">@message</div>
}

<h4>Drug Request</h4>

<h4>Site @ViewBag.SiteId</h4>
<hr />
<form asp-controller="Sites" asp-action="UpdateSiteInventory" method="post">
    <input type="hidden" name="siteId" value="@ViewBag.SiteId" />

    <div class="form-group">
        <label for="requestedDrugCode">Requested Drug Code:</label>
        <input type="text" class="form-control" name="requestedDrugCode" required />
    </div>

    <div class="form-group">
        <label for="requestedQuantity">Requested Quantity:</label>
        <input type="number" class="form-control" name="requestedQuantity" required />
    </div>

    <button type="submit" class="btn btn-primary">Request Drugs</button>
</form>

